<div class="navbar navbar-nav footer bg-primary">
  <div class="row mt-3 mb-3">
    <div class="col p-1" [hidden]="!versionInfo?.git">
      <p class="text-light mr-5">Version: {{versionInfo?.git?.build.version}}
        @{{versionInfo?.git?.commit.id.abbrev}}</p>
      <p class="text-light mr-5">Last Updated {{versionInfo?.git?.commit.time}},
        Revision {{versionInfo?.git?.total.commit.count}}</p>
    </div>
    <div class="col p-1">
      <p class="text-light text-center">
        <fa-icon [icon]="faCopyright"></fa-icon>
        2019 Recipe Organizr. All Rights Reserved.</p>
      <p class="text-light text-center">Check me out on <a
        class="link text-light" href="https://github.com/Bwvolleyball/recipe-organizr">Github</a>.
      </p>
      <p class="text-light text-center">Powered by
        <a class="link text-light" href="https://www.themealdb.com/">The MealDB</a>
        &
        <a class="link text-light" href="https://www.thecocktaildb.com">The CocktailDB</a>.</p>
    </div>
    <div class="col p-1">
      <p class="text-light ml-5">For Completion of M.S. Software Engineering @ Regis University.</p>
      <p class="text-light ml-5">Connect with me on
        <a class="link text-light" href="https://www.linkedin.com/in/bwvolleyball">LinkedIn</a>.</p>
    </div>
  </div>
</div>
