<div class="row mt-3 mb-1" [hidden]="localeSet?.size === 0 && categorySet?.size === 0 && tagsSet?.size === 0">
  <div class="card w-100">
    <div class="card-header card-text text-center">
      <span class="h3 text-info">Filters</span>
    </div>
    <div class="card-body">
      <div class="mt-1 mb-1" [hidden]="localeSet?.size === 0">
        <span class="input-group-text row">Locale</span>
        <div class="btn-group flex-wrap" btnRadioGroup [(ngModel)]="selectedLocale">
          <button *ngFor="let locale of asArray(localeSet.values()).sort()"
                  class="tight-btn btn btn-outline-primary mx-1 my-1" uncheckable [btnRadio]="locale">{{locale}}</button>
        </div>
      </div>
      <div class="mt-1 mb-1" [hidden]="categorySet?.size === 0">
        <span class="input-group-text row">Category</span>
        <div class="btn-group flex-wrap" btnRadioGroup [(ngModel)]="selectedCategory">
          <button *ngFor="let category of asArray(categorySet.values()).sort()"
                  class="tight-btn btn btn-outline-dark mx-1 my-1" uncheckable [btnRadio]="category">{{category}}</button>
        </div>
      </div>
      <div class="mt-1 mb-1" [hidden]="tagsSet?.size === 0">
        <span class="input-group-text row">Tags</span>
        <div class="btn-group flex-wrap" btnRadioGroup>
          <button *ngFor="let tag of asArray(tagsSet.values()).sort()" class="tight-btn btn btn-outline-info mx-1 my-1"
                  btnCheckbox [(ngModel)]="selectedTags[tag]" (click)="captureTags()">{{tag}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let recipe of asArray(mappedRecipes.values())" [hidden]="!visibilityMatrix.get(recipe.recipeId)"
       class="col-4 mt-3 mb-1 btn btn-outline-primary">
    <cookbook-recipe-tile
      [routerLink]="'/recipe/detail/' + recipe.recipeId"
      [recipeId]="recipe.recipeId"
      [filters]="[selectedLocale, selectedCategory, selectedTagsString]"
      (recipeEmitter)="recipeEventReceiver(recipe.recipeId, $event)"
      (visibleEmitter)="receiveVisibility($event)"
      (deleteEmitter)="deleteRecipe($event)">
    </cookbook-recipe-tile>
  </div>
</div>
<div [hidden]="anyVisible">
  <div class="mt-3 offset-4 col-4">
    <div class="card">
      <div class="card-header text-center">
        <span class="card-text card-body card-title h3">No Recipes!</span>
      </div>
      <div class="card-body card-text">
        <p class="">
          Oh no! You seem to have filtered out all available recipes!
          Would you like to <span class="btn-link clickable" (click)="clearFilters()">clear the filters</span> and try again?
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="cookbook && cookbook?.recipes.length == 0">
  <div class="mt-3 offset-4 col-4">
    <div class="card">
      <div class="card-header text-center">
        <span class="card-text card-body card-title h3">No Recipes!</span>
      </div>
      <div class="card-body card-text">
        <p class="">
          Oh no! You don't seem to have added any recipes to your cookbook!
          Never fear though, <a routerLink="/">find a recipe you like</a> and then click the 'Add to Cookbook'
          button located in the
          'Additional Actions' section of the recipe card!
        </p>
      </div>
    </div>
  </div>
</div>
