<div class="row">
  <div *ngFor="let recipe of mappedRecipes | keyvalue: nameComparator" class="col-4 mt-3 mb-1 btn btn-outline-primary">
    <cookbook-recipe-tile
      [routerLink]="'/recipe/detail/' + recipe.key"
      [recipeId]="recipe.key"
      (recipeNameEmitter)="attachName(recipe.key, $event)"
      (deleteEmitter)="deleteRecipe($event)">
    </cookbook-recipe-tile>
  </div>
</div>
<div *ngIf="cookbook && cookbook?.recipes.length == 0">
  <div class="mt-3 offset-4 col-4">
    <div class="card">
      <div class="card-header text-center">
        <span class="card-text card-body card-title h3">No Recipes!</span>
      </div>
      <div class="card-body card-text">
        <p class="">
          Oh no! You don't seem to have added any recipes to your cookbook!
          Never fear though, <a routerLink="/">find a recipe you like</a> and then click the 'Add to Cookbook'
          button located in the
          'Additional Actions' section of the recipe card!
        </p>
      </div>
    </div>
  </div>
</div>
