<div class="full-width">
  <app-search-box></app-search-box>
  <carousel>
    <slide>
      <img src="assets/images/welcome/food_1.jpg" alt="great recipes" class="carousel-img">
      <div class="carousel-caption d-none d-md-block">
        <p class="h3 bg-info mb-0 rounded-top">Amazing Recipes for Every Palate</p>
        <p class="bg-info mt-0 rounded-bottom">From the adventurous to the picky eater, you're sure to find something for everyone.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/welcome/food_2.jpg" alt="fresh ingredients" class="carousel-img">
      <div class="carousel-caption d-none d-md-block">
        <p class="h3 bg-info mb-0 rounded-top">Meals from all Ingredient Classes</p>
        <p class="bg-info mt-0 rounded-bottom">We have recipes for every seasonal taste.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/welcome/food_3.jpg" alt="for any time of day" class="carousel-img">
      <div class="carousel-caption d-none d-md-block">
        <p class="h3 bg-info mb-0 rounded-top">Any Time of the Day</p>
        <p class="bg-info mt-0 rounded-bottom">Recipes to satisfy your hunger from dawn to dusk.</p>
      </div>
    </slide>
  </carousel>
</div>
