.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.carousel-img {
  display: block;
  width: 100%;
}

.shadowed-text {
  text-shadow: -2px -2px 4px #000,
  2px -2px 4px #000,
  -2px 2px 4px #000,
  2px 2px 4px #000;
  -webkit-font-smoothing: antialiased;

}
